.basic {
  color: #4682b4;
}

header {
 background-color: #4b0082;
 position: fixed;
 /*background: linear-gradient(45deg, rgba(75,0,130,1),rgba(255,105,180,1));*/
}

.image {
  background-color: #87cefa;
  display: inline-block;
}

.image img {
  width: 500px;
  height: auto;
  opacity: 0.65;
}

.image2 img {
  position: absolute;
  left: 515px;
  top: 510px;
  width: 700px;
  height: auto;
  opacity: 0.3;
}

.image3 img {
  position: absolute;
  top: 400px;
  width: 500px;
  height: auto;
  opacity: 0.13;
}

.image4 img {
  position: absolute;
  left: 515px;
  top: 104px;
  width: 400px;
  height: auto;
  opacity: 0.13;
}

.images {
  pointer-events: none;
}

.weeknesses {
  opacity: 0.7;
  color: #4682b4;
  letter-spacing: 5px;
  text-decoration:line-through double;
  display: inline-block;
}

.twitterlink h3 {
  border: #a9ceec 8px solid;
  border-radius: 20px;
  display: inline-block;
}



body {
  background-attachment: fixed;
  background-size: 800px;
  background-image: url("https://pbs.twimg.com/media/E1_a11LVcAEeaqN?format=jpg&name=900x900");
}

.slider {
  position: absolute;
  top: 400px;
}

}

@media (max-width: 1025px) {

}

@media (max-width: 600px) {

}
