.basic {
  color: #4682b4;
}

.link {
  position: absolute;
  left: 80%;
  font-size: 30px;
  border-left: 10px solid #4682b4;
}

body {

  background: linear-gradient(45deg, rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.01)),
  url(https://pbs.twimg.com/media/E2JgYw3VIAE_L3K?format=png&name=900x900);
  background-repeat: no-repeat;
  background-size: cover;
}
